[Unit]
Description=ipfs-cluster-service daemon
Requires=ipfs.service
After=ipfs.service

[Service]
ExecStart=/usr/local/bin/ipfs-cluster-service daemon
Restart=always
User=ubuntu
Group=ubuntu
Environment="IPFS_CLUSTER_PATH=/data/ipfs-cluster"

[Install]
WantedBy=multi-user.target